<footer class="footer navbar-fixed-bottom">
  <div class="container text-center">
    <p class="text-muted">
      <%= link_to '@lorenadgb', 'https://github.com/lorenadgb/appProva' %>
    </p>
  </div>
</footer>
